td.columns.last,
td.column.last,
th.columns.last,
th.column.last {
  padding-right: 20px;
}

td.columns.first,
td.column.first,
th.columns.first,
th.column.first {
  padding-left: 20px;
}

table, th, tbody, tr, td {
  text-align: inherit;
  background: transparent;
  background-color: transparent;
  vertical-align: inherit;
}

td {
  hyphens: initial;
}