.article {
  &__title {
    color: $primary-color;
    margin-bottom: 20px !important;
    line-height: 46px;
  }
  &__author {
    display: block;
    margin-bottom: 50px !important;
    font-weight: $header-font-weight;
  }
}
