.header {
  &__background-gradient {
    width: 100%;
    height: 415px;
    background-color: $primary-color;
    background-image: linear-gradient(
      45deg,
      $secondary-color 0%,
      $primary-color 100%
    );
    background: linear-gradient(45deg, $secondary-color 0%, $primary-color 100%);

    .browser-link {
      font-size: 13px;
      padding-top: 10px;
    }
  }

  &__logo {
    width: 151px;
    max-width: 151px;
    @include media {
      width: 151px !important;
    }
  }

  &__date {
    font-weight: $header-font-weight;
    font-size: 21px;
    color: $white;
    text-transform: uppercase;
    width: 135px;
    height: 44px;
    background: url('https://gallery.mailchimp.com/95b09f6a86b4c4551e15d7cc3/images/ef001e7d-cc21-4b80-97dc-0f0e9a289773.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;

    &-text {
      padding-top: 4px;
    }
  }

  &__image {
    width: 100%;
    max-width: $global-width;
    @include media {
      width: 100%;
      max-width: 100%;
    }
  }

  &__intro-text {
    margin: 0;
  }
}



