.header {
  &__background-gradient {
    background-image: url('https://gallery.mailchimp.com/95b09f6a86b4c4551e15d7cc3/images/f2d29df3-89a6-4f7a-9281-0b8ed53928ee.jpg');
    background: url('https://gallery.mailchimp.com/95b09f6a86b4c4551e15d7cc3/images/f2d29df3-89a6-4f7a-9281-0b8ed53928ee.jpg');
    background-size: 100% 415px;
    background-repeat: no-repeat;
    background-position: 0 0;
    @include media {
      background-size: 100% 300px!important;
    }

    .browser-link {
      font-size: 13px;
      padding-top: 10px;
    }
  }

  &__logo {
    width: 151px;
    max-width: 151px;
    padding-left: 20px;
    @include media {
      width: 151px !important;
      padding-left: 10 !important;
    }
  }

  &__date {
    font-weight: $header-font-weight;
    font-size: 21px;
    color: $white;
    text-transform: uppercase;
    width: 135px;
    height: 44px;
    background: url('https://gallery.mailchimp.com/95b09f6a86b4c4551e15d7cc3/images/ef001e7d-cc21-4b80-97dc-0f0e9a289773.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;

    &-spacer {
      width: 20px;
      @include media {
        width: 10 !important;
      }
    }

    &-text {
      padding-top: 4px;
    }
  }

  &__image {
    width: 100%;
    max-width: $global-width;
    @include media {
      width: 100%;
      max-width: 100% !important;
    }
  }

  &__intro-text {
    margin: 0;
  }
}


