.quote {
  &__quote-marks {
    max-width: 80%;
  }

  &__hr {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    width: 80%;
    border-color: #707070;
  }

  &__text p, &__text span {
    font-size: 24px;
    color: lighten($dark-gray, 10%);
    margin-bottom: 0;
    padding-left: 20px;
    @include media {
      font-size: 18px;
    }
  }

  &__author-name {
    text-align: left;
    display: block;
    font-weight: $header-font-weight;
    @include media {
      font-size: 13px;
    }
  }

  &__author-info {
    text-align: left;
    display: block;
    font-size: 13px;
    @include media {
      font-size: 10px;
    }
  }
}