.reference {
  &__header-border {
    background-color: $secondary-color;
    background-image: linear-gradient(
      45deg,
      $secondary-color 0%,
      $primary-color 100%
    );
    background: linear-gradient(45deg, $secondary-color 0%, $primary-color 100%);
    &--pipe {
      width: 5px;
      height: 60px;
      @include media {
        margin-left: 20px;
      }
    }
    &--underline {
      width: 60px;
      height: 10px;
      font-size: 1px;
      line-height: 10px;
      @include media {
        margin-left: 20px;
      }
    }
  }

  &__header--pipe {
    padding-left: 15px;
    margin-bottom: 0 !important
  }
  &__header--underline {
    margin-bottom: 0 !important
  }
  &__component-title {
    margin-bottom: 20px !important;
    color: $primary-color;
  }
  &__component-body {
    margin-bottom: 35px;
  }
  &__component-button {
    margin-bottom: 0 !important;
  }
}

@media only screen and (min-width:1px) {
  .button td a {
    Margin:0;
    border:0 solid #ef7726;
    border-radius:3px;
    color:#fefefe!important;
    display:inline-block;
    font-family:proxima-nova,Helvetica,Arial,sans-serif;
    font-size:16px;
    font-weight:700;
    line-height:1.5;
    margin:0;
    padding:8px 26px 8px 26px;
    text-align:center;
    text-decoration:none !important;
  }
}