<!-- CORNER FRAME VARIANT -->

<container mc:repeatable="component" mc:variant="Article - Corner Frame">
  <row>
    <columns small="8" style="padding-bottom: 0;">
      <hr/>
    </columns>
  </row>

  <row class="collapse">
    <columns small="8" style="padding-bottom: 50px;">
      <img class="article__header-image" mc:edit="article-header-image--corner-frame" mc:allowdesigner src="https://gallery.mailchimp.com/95b09f6a86b4c4551e15d7cc3/images/835c094a-81cd-4508-a34d-e3f99d6c5cd9.jpg" alt="" width="100%" />
    </columns>
  </row>

  <row>
   <columns class="inline-link" small="8" style="text-align: left; padding-bottom: 0;">
      <h2 class="article__title" mc:edit="article-title">
        Consistent Growth <br/>and Exciting Changes
      </h2>
      <span class="article__author" mc:edit="article-author">
        <b>By Sandro Mancuso & Mash Badar</b>
      </span>
      <p class="inline-link" mc:edit="article-body" style="margin-bottom: 0;">
        Since our last update, we’re delighted to report Codurance’s continued expansion, with new homes for both the London and Barcelona offices and the launch of Software Crafters North, a group run by our new Manchester branch as we continue to grow. SC London returns this October for a third consecutive year, with a raft of impressive thought-leaders scheduled to share their crafting expertise with the community - we’re looking forward to seeing you there!
        <br/><br/>
        We kicked off 2019 by achieving <a href="#">AWS Partner Status</a>, recognising the expertise, skill and experience of our people in the AWS Cloud ecosystem and its various services. As part of our commitment to contributing to the development community, we’re pleased to announce that 7 of our talented apprentices have recently graduated to Craftsperson level, creating expert practitioners able to contribute to and share Craftsmanship values within the software development realm.
        <br/><br/>
        Last but by no means least, we’ve had the pleasure of working on some truly exciting international client projects - coaching, advising and delivering exceptional software. We’re excited to see what’s next for the business over the course of the rest of the year and welcome you to follow our journey.
      </p>
   </columns>
  </row>
  <spacer size="50"></spacer>
</container>



<!-- STACKED BOXES VARIANT -->

<container mc:repeatable="component" mc:variant="Article - Stacked Boxes">
    <row>
      <columns small="8" style="padding-bottom: 0;">
        <hr/>
      </columns>
    </row>

    <row class="collapse">
      <columns small="8" style="padding-bottom: 0; text-align: center;">
        <img class="article__header-image" mc:edit="article-header-image--boxes-stacked" mc:allowdesigner src="http://placehold.it/600x330" alt="" width="100%" />
      </columns>
    </row>

    <row class="collapse">
     <columns small="8" style="text-align: left;">
        <h2 class="article__title article__title--stacked-boxes article__primary-background">
          <!--[if gte mso 9]>
          <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px; height:415px;" fillcolor="#EF7726 ">
          <v:fill type="gradient" color2="#D60D47"/>
          <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
          <![endif]-->
          <span mc:edit="article-title--boxes-stacked">Consistent Growth <br/>and Exciting Changes</span>
          <!--[if gte mso 9]>/v:textbox/v:rect<![endif]-->
        </h2>
        <span class="article__author article__author--stacked-boxes">
          <!--[if gte mso 9]>
          <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px; height:415px;" fillcolor="#f9b436 ">
          <v:fill type="gradient" color2="#EF7726"/>
          <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
          <![endif]-->
          <span mc:edit="article-author--boxes-stacked"><b>By Sandro Mancuso & Mash Badar</b></span>
          <!--[if gte mso 9]>/v:textbox/v:rect<![endif]-->
        </span>
     </columns>
    </row>

    <row>
      <columns class="inline-link" small="8" style="padding-bottom: 0px;">
        <p class="inline-link" mc:edit="article-body--boxes-stacked" style="margin-bottom: 0;">
          Since our last update, we’re delighted to report Codurance’s continued expansion, with new homes for both the London and Barcelona offices and the launch of Software Crafters North, a group run by our new Manchester branch as we continue to grow. SC London returns this October for a third consecutive year, with a raft of impressive thought-leaders scheduled to share their crafting expertise with the community - we’re looking forward to seeing you there!
          <br/><br/>
          We kicked off 2019 by achieving <a href="#">AWS Partner Status</a>, recognising the expertise, skill and experience of our people in the AWS Cloud ecosystem and its various services. As part of our commitment to contributing to the development community, we’re pleased to announce that 7 of our talented apprentices have recently graduated to Craftsperson level, creating expert practitioners able to contribute to and share Craftsmanship values within the software development realm.
          <br/><br/>
          Last but by no means least, we’ve had the pleasure of working on some truly exciting international client projects - coaching, advising and delivering exceptional software. We’re excited to see what’s next for the business over the course of the rest of the year and welcome you to follow our journey.
        </p>
      </columns>
    </row>

    <spacer size="50"></spacer>
  </container>



  <!-- SIDE BY SIDE IMAGE RIGHT VARIANT -->

<container mc:repeatable="component" mc:variant="Article - Side by Side Image Right">
  <row>
    <columns small="8" style="padding-bottom: 0;">
      <hr/>
    </columns>
  </row>

  <row class="collapse" dir="rtl">
    <columns large="4" small="8" style="padding-bottom: 0; vertical-align: middle;" dir="ltr">
      <img class="article__header-image" mc:edit="article-header-image--SbS-image-right" mc:allowdesigner src="http://placehold.it/300x300" alt="" width="100%" />
    </columns>
    <columns class="article__primary-background" large="4" small="8" style="padding-bottom: 0; vertical-align: middle;" dir="ltr">
      <!--[if gte mso 9]>
      <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px; height:415px;" fillcolor="#EF7726 ">
      <v:fill type="gradient" color2="#D60D47"/>
      <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
      <![endif]-->
      <h2 class="article__title--side-by-side" mc:edit="article-title--SbS-image-right">
        Consistent Growth <br/>and Exciting Changes
      </h2>
      <!--[if gte mso 9]>/v:textbox/v:rect<![endif]-->
    </columns>
  </row>

  <row class="collapse" style="Margin-top: 30px; Margin-bottom: 50px;">
    <columns small="8" style="text-align: left;">

      <table style="vertical-align: middle;">
        <tr>
          <td style="white-space: nowrap;">
            <span class="article__author article__author--side-by-side" mc:edit="article-author--SbS-image-right">
              <b>By Sandro Mancuso & Mash Badar</b>
            </span>
          </td>
          <td width="99%">
            <div style="width: 100%; height: 8px; font-size: 1px; line-height: 8px; background-color: #ef7726;background: url(https://gallery.mailchimp.com/95b09f6a86b4c4551e15d7cc3/images/2d76b7ff-27ac-44d2-8efe-f4f444d6689f.jpg); background-image: url(https://gallery.mailchimp.com/95b09f6a86b4c4551e15d7cc3/images/2d76b7ff-27ac-44d2-8efe-f4f444d6689f.jpg); background-size: 100% 100%; background-repeat: no-repeat; background-position: 0 0;">&nbsp;</div>
          </td>
        </tr>
      </table>

    </columns>
  </row>

  <row>
    <columns class="inline-link" small="8" style="padding-bottom: 0px;">
      <p class="inline-link" mc:edit="article-body--SbS-image-right" style="margin-bottom: 0;">
        Since our last update, we’re delighted to report Codurance’s continued expansion, with new homes for both the London and Barcelona offices and the launch of Software Crafters North, a group run by our new Manchester branch as we continue to grow. SC London returns this October for a third consecutive year, with a raft of impressive thought-leaders scheduled to share their crafting expertise with the community - we’re looking forward to seeing you there!
        <br/><br/>
        We kicked off 2019 by achieving <a href="#">AWS Partner Status</a>, recognising the expertise, skill and experience of our people in the AWS Cloud ecosystem and its various services. As part of our commitment to contributing to the development community, we’re pleased to announce that 7 of our talented apprentices have recently graduated to Craftsperson level, creating expert practitioners able to contribute to and share Craftsmanship values within the software development realm.
        <br/><br/>
        Last but by no means least, we’ve had the pleasure of working on some truly exciting international client projects - coaching, advising and delivering exceptional software. We’re excited to see what’s next for the business over the course of the rest of the year and welcome you to follow our journey.
      </p>
    </columns>
  </row>

  <spacer size="50"></spacer>
</container>



<!-- SIDE BY SIDE IMAGE LEFT VARIANT -->

<container mc:repeatable="component" mc:variant="Article - Side by Side Image Left">
  <row>
    <columns small="8" style="padding-bottom: 0;">
      <hr/>
    </columns>
  </row>

  <row class="collapse">
    <columns large="4" small="8" style="padding-bottom: 0; vertical-align: middle;">
      <img class="article__header-image" mc:edit="article-header-image--SbS-image-left" mc:allowdesigner src="http://placehold.it/300x300" alt="" width="100%" />
    </columns>
    <columns class="article__primary-background" large="4" small="8" style="padding-bottom: 0; vertical-align: middle;">
      <!--[if gte mso 9]>
      <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px; height:415px;" fillcolor="#EF7726 ">
      <v:fill type="gradient" color2="#D60D47"/>
      <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
      <![endif]-->
      <h2 class="article__title--side-by-side" mc:edit="article-title--SbS-image-left">
        Consistent Growth <br/>and Exciting Changes
      </h2>
      <!--[if gte mso 9]>/v:textbox/v:rect<![endif]-->
    </columns>
  </row>

  <row class="collapse" style="Margin-top: 30px; Margin-bottom: 50px;">
    <columns small="8" style="text-align: left;">

      <table style="vertical-align: middle;">
        <tr>
          <td style="white-space: nowrap;">
            <span class="article__author article__author--side-by-side" mc:edit="article-author--SbS-image-left">
              <b>By Sandro Mancuso & Mash Badar</b>
            </span>
          </td>
          <td width="99%">
            <div style="width: 100%; height: 8px; font-size: 1px; line-height: 8px; background-color: #ef7726;background: url(https://gallery.mailchimp.com/95b09f6a86b4c4551e15d7cc3/images/2d76b7ff-27ac-44d2-8efe-f4f444d6689f.jpg); background-image: url(https://gallery.mailchimp.com/95b09f6a86b4c4551e15d7cc3/images/2d76b7ff-27ac-44d2-8efe-f4f444d6689f.jpg); background-size: 100% 100%; background-repeat: no-repeat; background-position: 0 0;">&nbsp;</div>
          </td>
        </tr>
      </table>

    </columns>
  </row>

  <row>
    <columns class="inline-link" small="8" style="padding-bottom: 0px;">
      <p class="inline-link" mc:edit="article-body--SbS-image-left" style="margin-bottom: 0;">
        Since our last update, we’re delighted to report Codurance’s continued expansion, with new homes for both the London and Barcelona offices and the launch of Software Crafters North, a group run by our new Manchester branch as we continue to grow. SC London returns this October for a third consecutive year, with a raft of impressive thought-leaders scheduled to share their crafting expertise with the community - we’re looking forward to seeing you there!
        <br/><br/>
        We kicked off 2019 by achieving <a href="#">AWS Partner Status</a>, recognising the expertise, skill and experience of our people in the AWS Cloud ecosystem and its various services. As part of our commitment to contributing to the development community, we’re pleased to announce that 7 of our talented apprentices have recently graduated to Craftsperson level, creating expert practitioners able to contribute to and share Craftsmanship values within the software development realm.
        <br/><br/>
        Last but by no means least, we’ve had the pleasure of working on some truly exciting international client projects - coaching, advising and delivering exceptional software. We’re excited to see what’s next for the business over the course of the rest of the year and welcome you to follow our journey.
      </p>
    </columns>
  </row>

  <spacer size="50"></spacer>
</container>