<container mc:repeatable="article" mc:variant="Corner Bordered Header Image">
  <row>
    <columns small="8" style="padding-bottom: 0;">
      <hr/>
    </columns>
  </row>

  <row class="collapse">
    <columns small="8" style="padding-bottom: 50px;">
      {{> _Article-Header-Image}}
    </columns>
  </row>

  <row>
   <columns small="8" style="text-align: left; padding-bottom: 0;">
      <h2 class="article__title" mc:edit="article-title">
        Consistent Growth <br/>and Exciting Changes
      </h2>
      <span class="article__author" mc:edit="article-author">
        <b>By Sandro Mancuso & Mash Badar</b>
      </span>
      <p class="inline-link" mc:edit="article-body" style="margin-bottom: 0;">
        Since our last update, we’re delighted to report Codurance’s continued expansion, with new homes for both the London and Barcelona offices and the launch of Software Crafters North, a group run by our new Manchester branch as we continue to grow. SC London returns this October for a third consecutive year, with a raft of impressive thought-leaders scheduled to share their crafting expertise with the community - we’re looking forward to seeing you there!
        <br/><br/>
        We kicked off 2019 by achieving <a href="#">AWS Partner Status</a>, recognising the expertise, skill and experience of our people in the AWS Cloud ecosystem and its various services. As part of our commitment to contributing to the development community, we’re pleased to announce that 7 of our talented apprentices have recently graduated to Craftsperson level, creating expert practitioners able to contribute to and share Craftsmanship values within the software development realm.
        <br/><br/>
        Last but by no means least, we’ve had the pleasure of working on some truly exciting international client projects - coaching, advising and delivering exceptional software. We’re excited to see what’s next for the business over the course of the rest of the year and welcome you to follow our journey.
      </p>
   </columns>
  </row>
  <spacer size="50"></spacer>
</container>

